/arrays.html
/Arrays.js
/arraysloop.js
/calculator.js
/condition.js
/diganta.js
/faulty.js
/faulty123.js
/function.js
/grade.js
/index.html
/javascript.js
/Loop.js
/looppracticset.js
/looppratice.js
/mediia.html
/mfr.js
/new.js
/pratice.js
/random.js
/SAAS.js
/script.js
/srijon.js
/string.js
/stringpratice.js
/variable.js